In [1]:
import pandas as pd

In [2]:
High_Pop_County_Covid_Cases = pd.read_csv("HighPopCountyCovidCases.csv")

display(High_Pop_County_Covid_Cases)

,County Name,Cases 03-04-2020,Cases 03-05-2020,Cases 03-06-2020,Cases 03-09-2020,Cases 03-10-2020,Cases 03-11-2020,Cases 03-12-2020,Cases 03-13-2020,Cases 03-15-2020,...,Cases 02-03-2021,Cases 02-04-2021,Cases 02-05-2021,Cases 02-06-2021,Cases 02-07-2021,Cases 02-08-2021,Cases 02-09-2021,Cases 02-10-2021,Cases 02-11-2021,Cases 02-12-2021
0,Bexar,0,0,0,0,0,0,0,0,3,...,148996,149858,150595,152283,152736,154608,154766,156051,156544,157334
1,Collin,0,0,0,1,3,3,3,3,6,...,64154,64433,64872,65160,65423,65679,66189,66418,66987,67278
2,Dallas,0,0,0,0,0,2,3,3,8,...,230395,231411,232200,233353,234210,235040,235738,236925,237943,238774
3,Denton,0,0,0,0,0,0,0,0,0,...,43090,43501,43779,44054,44221,44221,44622,45032,45500,45907
4,El Paso,0,0,0,0,0,0,0,0,1,...,114819,115300,115847,116263,116644,117039,117370,117743,118248,118715
5,Fort Bend,0,0,1,6,6,6,6,6,9,...,45547,45862,46148,46474,46474,46474,46775,47283,47662,48166
6,Harris,0,0,4,5,5,5,7,7,10,...,320744,323408,325010,326248,327079,328426,329167,329576,330256,331837
7,Hidalgo,0,0,0,0,0,0,0,0,0,...,44503,45055,45396,45979,45979,45979,46643,47007,47246,47619
8,Tarrant,0,0,0,0,0,1,1,1,3,...,190056,191367,192668,193869,194962,195799,196739,197551,198635,199429
9,Travis,0,0,0,0,0,0,0,0,2,...,70089,70631,71164,71426,71623,71831,72279,72625,72972,73259

In [3]:
display(High_Pop_County_Covid_Cases.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Columns: 344 entries, County Name to Cases 02-12-2021
dtypes: int64(343), object(1)
memory usage: 27.0+ KB

None

In [4]:
import numpy as py 
mean_by_county = High_Pop_County_Covid_Cases.mean(axis=1)
print (mean_by_county)

0     42597.279883
1     16342.104956
2     74830.979592
3     12415.871720
4     36426.282799
5     14006.900875
6    110884.825073
7     20914.973761
8     52078.752187
9     24425.860058
dtype: float64

C:\Users\Diljit Singh\AppData\Local\Temp\ipykernel_24268\2737858935.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean_by_county = High_Pop_County_Covid_Cases.mean(axis=1)

In [5]:
mean_by_date = High_Pop_County_Covid_Cases.mean(axis=0)
print ("Mean Covid Cases across all Counties daily:\n",mean_by_date)

Mean Covid Cases across all Counties daily:
 Cases 03-04-2020         0.0
Cases 03-05-2020         0.0
Cases 03-06-2020         0.5
Cases 03-09-2020         1.2
Cases 03-10-2020         1.4
                      ...
Cases 02-08-2021    130509.6
Cases 02-09-2021    131028.8
Cases 02-10-2021    131621.1
Cases 02-11-2021    132199.3
Cases 02-12-2021    132831.8
Length: 343, dtype: float64

C:\Users\Diljit Singh\AppData\Local\Temp\ipykernel_24268\1122577427.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean_by_date = High_Pop_County_Covid_Cases.mean(axis=0)

In [6]:
median_by_county = High_Pop_County_Covid_Cases.median(axis=1)
print ("Median Covid Cases by County are:\n", median_by_county)

Median Covid Cases by County are:
 0    37060.0
1    10474.0
2    69086.0
3     9235.0
4    19622.0
5    14640.0
6    99290.0
7    25169.0
8    37924.0
9    25890.0
dtype: float64

C:\Users\Diljit Singh\AppData\Local\Temp\ipykernel_24268\1298313454.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  median_by_county = High_Pop_County_Covid_Cases.median(axis=1)

In [7]:
mode_by_county = High_Pop_County_Covid_Cases.mode(axis=1)
print ("Mode of Covid Cases by County are:\n", mode_by_county)

Mode of Covid Cases by County are:
     0    1        2
0   0  NaN      NaN
1   3  6.0  10451.0
2   0  NaN      NaN
3   0  NaN      NaN
4   0  NaN      NaN
5   6  9.0  30249.0
6  10  NaN      NaN
7   0  NaN      NaN
8   0  NaN      NaN
9   0  NaN      NaN

In [8]:
mean_by_county = High_Pop_County_Covid_Cases.mean(axis=1)
print ("Mean Covid Cases by County are:\n", mean_by_county)

Mean Covid Cases by County are:
 0     42597.279883
1     16342.104956
2     74830.979592
3     12415.871720
4     36426.282799
5     14006.900875
6    110884.825073
7     20914.973761
8     52078.752187
9     24425.860058
dtype: float64

C:\Users\Diljit Singh\AppData\Local\Temp\ipykernel_24268\3799345929.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean_by_county = High_Pop_County_Covid_Cases.mean(axis=1)

In [ ]:
import matplotlib.pyplot as plt  
import matplotlib
import pandas as pd     
import numpy as np      

%matplotlib inline

In [ ]:
mean_by_county.plot.pie(labels = ['Bexar', 'Collin', 'Dallas', 'Denton', 'El Paso', 'Fort Bend', 'Harris', 'Hidalgo', 'Tarrant', 'Travis']) #Mean of Covid Cases in a select county across the timeframe of 11 months in Pie Chart USE THIS
plt.ylabel('Percentage of Covid Cases across High Popolation Counties', labelpad=50)
#plt.ylabel ('Percentage of Covid Cases across High Pop Counties')

In [ ]:
labels = ['3/04/2020','5/29/2020','8/23/2020','11/17/2020','2/12/2021']  
x = np.arange(0,350,85)                     
fig,ax = plt.subplots()
ax.set_xticks(x)
ax.set_xticklabels(labels)  
plt.plot(mean_by_date)#Mean of Covid Cases daily across High Pop Counties USE THIS FIGURE 3
plt.title ('Mean of Covid Cases daily across High Pop Counties during 11 month period')
plt.xlabel ('Date')
plt.ylabel ('Number of Cases')

In [ ]:
plt.rcdefaults()  #USE THIS FIGURE 1
fig, ax = plt.subplots()

Xbarnumber = ('24000', '48000', '72000', '96000', '120000',)
county = ('Bexar', 'Collin', 'Dallas', 'Denton', 'El Paso', 'Fort Bend', 'Harris', 'Hidalgo', 'Tarrant', 'Travis')
y_pos = np.arange(len(county))

ax.barh(y_pos, mean_by_county, align='center')
ax.set_yticks(y_pos, labels=county)                   
ax.invert_yaxis()  # labels read top-to-bottom
ax.set_xlabel('Number of Cases')
ax.set_title('Mean of Covid Cases in High Popolation Counties')

plt.show()